.header {
  margin-top: 45px;
  padding-bottom: 41px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: rgba(84, 84, 84, 1);
}

@media screen and (min-width: 320px) and (max-width: 600px) {
  .header {
    margin: 0 0;
    padding: 28px 0 32px 27px;
  }

  .header__vector {
    width: 126px;
  }
}
