.modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 999;
  padding: 0 19px;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear 0.5s, opacity 0.5s linear;
}

.modal_opened {
  visibility: visible;
  opacity: 1;
  transition-delay: 0s;
}

.modal__container {
  position: relative;
  background-color: #fff;
  margin: auto;
  border-radius: 10px;
  padding: 34px 36px 54px;
  box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.15);
  max-width: 430px;
  max-height: 330px;
}

.modal__image_container {
  position: relative;
  margin: auto;
}

.modal__preview_card_image {
  flex-direction: column;
  margin: auto;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.2;
}

.modal__card_title {
  position: relative;
}

.modal__heading {
  font-family: Inter;
  font-size: 24px;
  font-weight: 900;
  line-height: 1.2;
  text-align: left;
  color: rgba(0, 0, 0, 1);
  width: 330px;
  margin-top: 0;
  margin-bottom: 54px;
}

.modal__heading-delete {
  font-family: Inter;
  font-size: 24px;
  font-weight: 900;
  line-height: 1.2;
  text-align: left;
  color: rgba(0, 0, 0, 1);
  width: 358px;
  margin-top: 0;
  margin-bottom: 8px;
  padding: 0 0;
}

.modal__form {
  display: flex;
  flex-direction: column;
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.2;
  text-align: left;
  gap: 30px;
}

.modal__label {
  display: flex;
  flex-direction: column;
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.2;
  text-align: left;
  height: 44px;
}

.modal__input {
  border: none;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: rgba(0, 0, 0, 0.2);
  padding: 0 0 13px;
  color: black;
}

.modal__input-error {
  border: none;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: rgba(255, 0, 0, 1);
}

.modal__error {
  font-size: 12px;
  line-height: 1.2;
  color: #ff0000;
  opacity: 0;
  top: calc(100% + 5px);
  width: 338px;
}

.modal__error_visible {
  color: rgb(255, 0, 0);
  opacity: 1;
  font-size: 12px;
  line-height: 1.2;
}

.modal__image {
  width: 75vh;
  height: 75vh;
}

.modal__button_submit {
  width: 358px;
  height: 50px;
  background-color: black;
  color: #fff;
  margin-top: 18px;
  border-radius: 2px;
  padding: 0;
  border: none;
  cursor: pointer;
}

.modal__button_submit:hover {
  opacity: 80%;
}

.modal__button_submit_disabled {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0, 0.2);
  border: solid 1px rgb(0, 0, 0, 0.2);
  cursor: default;
}

.modal__button_submit_disabled:hover {
  opacity: 1;
}

.modal__button_delete {
  width: 358px;
  height: 50px;
  background-color: black;
  color: #fff;
  border-radius: 2px;
  padding: 0;
  border: none;
  cursor: pointer;
}

.modal__button_delete:hover {
  opacity: 80%;
}

.modal__close {
  background-image: url(../images/close-icon.svg);
  border: none;
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  width: 40px;
  height: 40px;
  top: -45px;
  right: -45px;
  cursor: pointer;
}

.modal__close:hover {
  opacity: 60%;
}

@media screen and (min-width: 320px) and (max-width: 630px) {
  .modal__container {
    width: 238px;
    padding: 25px 22px;
  }

  .modal__heading {
    font-size: 18px;
    line-height: 1.2;
    width: auto;
    margin-bottom: 75px;
  }
  .modal__heading-delete {
    font-size: 18px;
    line-height: 1.2;
    width: auto;
    margin-bottom: 75px;
  }
  .modal__close {
    width: 26px;
    height: 26px;
    top: -45px;
    right: 5px;
  }
  .modal__form {
    width: 238px;
  }

  .modal__button_submit {
    width: 238px;
    height: 46px;
    margin-top: 15px;
  }

  .modal__button_delete {
    width: 238px;
    height: 46px;
    margin-top: 15px;
  }

  .modal__image {
    width: 75vw;
    height: 75vh;
  }
}
